<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/teleparis.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Studio Teleparis</title>
</head>
<body>

    <nav>
        {{#xif "id == 'none'"}}
            <h4>Studio Teleparis</h4>
        {{/xif}}
        {{#xif "id !== 'none'"}}
            <h4>Studio Teleparis - Production {{id.name}}</h4>
        {{/xif}}
        {{#xif "id.isAdmin == '1'"}}
            <p>COMPTE ADMINISTRATEUR</p>
        {{/xif}}
        <ul>
        <ul>
            <li><a href="/">Accueil</a></li>

            {{#xif "id == 'none'"}}
                <li><a href="/login">Connexion</a></li>
            {{/xif}}
            {{#xif "id !== 'none'"}}
                <li><a href="/dashboard">Tableau de bord</a></li>
                <li><a href="/auth/logout">Déconnexion</a></li>
            {{/xif}}
        </ul>
    </nav>

    <div class="bg-light p-5 rounded-lg m-3">
        <h1 class="display-4">Bienvenue !</h1>
        <p class="lead">Cette plateforme permet de gérer facilement et rapidement les médias que vous souhaitez intégrer à vos magnifique réalisations chez Téléparis.</p>
        <hr class="my-4">
        <p>Pour commencer, connectez vous avec le compte qui vous a été fourni par mail.</p>
        {{#xif "id == 'none'"}}
            <a class="btn btn-danger btn-lg" target="_blank" href="/login" role="button">Connexion</a>
        {{/xif}}
        {{#xif "id !== 'none'"}}
            <a class="btn btn-danger btn-lg" target="_blank" href="/dashboard" role="button">Tableau de bord</a>
        {{/xif}}

        <a class="btn btn-danger btn-lg" target="_blank" href="https://teleparis.fr" role="button">Téléparis</a>
    </div>
</body>
</html>