<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/teleparis.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Studio Teleparis</title>
</head>
<body>
<nav>
    {{#xif "id == 'none'"}}
        <h4>Studio Teleparis</h4>
    {{/xif}}
    {{#xif "id !== 'none'"}}
        <h4>Studio Teleparis - Production {{id.name}}</h4>
    {{/xif}}
    {{#xif "id.isAdmin == '1'"}}
        <p>COMPTE ADMINISTRATEUR</p>
    {{/xif}}
    <ul>
        <li><a href="/">Accueil</a></li>

        {{#xif "id == 'none'"}}
            <li><a href="/login">Connexion</a></li>
        {{/xif}}
        {{#xif "id !== 'none'"}}
            <li><a href="/dashboard">Tableau de bord</a></li>
            <li><a href="/auth/logout">Déconnexion</a></li>
        {{/xif}}
    </ul>
</nav>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Inscription
        </div>
        <div class="card-body">
            <form action="/auth/register" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Nom de la production</label>
                    <input type="text" class="form-control" id="nameInput" name="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="emailInput" aria-describedby="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="passwordInput" name="password">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Confirmation du mot de passe</label>
                    <input type="password" class="form-control" id="passwordConfirmInput" name="passwordConfirm">
                </div>
                <button type="submit" class="btn btn-danger">Inscription</button>
            </form>
        </div>
    </div>
</div>

{{#if message }}
    <h4 class="alert alert-danger">{{message}}</h4>
{{/if}}

</body>
</html>