body {
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
    font-family: 'Titillium Web', sans-serif;
}

nav {
    background-color: #a21a2a;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

a:after {

}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
}

#dashboard_img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav li a {
    letter-spacing: 0.5px;
    transition: 0.2s;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
    margin-left: 20px;
    font-size: 20px;
}


.user_list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.user_list .card {
    align-items: center;
}

nav li a:hover {
    transition: 0.2s;
    color:white;
    text-decoration: none;
    background-color: #73131e;
    border-radius: 20px;
}